/* STYLE */
:root {
    /* Colors */
    --background-color: rgb(5, 5, 5);
    --text-color: rgb(250, 250, 250);
    --extra-color: #dd571c;

    /* Fonts */
    --heading-font: 'tiresias_infofontregular', sans-serif;
    --regular-font: Arial, sans-serif;
}

/* Fonts */
@font-face {
    font-family: 'tiresias_infofontregular';
    src: url('fonts/Tiresias_Infofont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--heading-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    max-width: 90vw;
}

p {
    line-height: 1.5;
    font-family: var(--regular-font);
}

/* HEADER */
header {
    max-width: 90vw;
}

h1 a {
    color: var(--text-color);
    text-decoration: none;
}

/* Navigation */
nav ul {
    display: flex;
    width: 70vw;
    justify-content: space-evenly;
    list-style-type: none;
    padding-inline-start: 0;
}

nav ul li {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}

/* Forms */
legend {
    font-size: 20px;
    padding: 0 10px;
}

#choose-exclusions,
#choose-exercise {
    display: grid;
    grid-template-columns: repeat(3, .6fr 1fr);
    row-gap: 10px;
}

#choose-exclusions input,
#choose-exercise input {
    justify-self: end;
}

#choose-exclusions *,
#choose-exercise * {
    align-self: baseline;
}

label {
    font-size: 18px;
    text-align: left;
}

input[type='checkbox'] {
    margin: 10px;
    transform: scale(1.5);
}

fieldset {
    margin-bottom: 30px;
}

/* Buttons */
button,
input[type='submit'] {
    display: inline-block;
    padding: .35em 1.2em;
    border: .1em solid var(--extra-color);
    margin: 0 .3em .3em 0;
    /* border-radius: .12em; */
    border-radius: .2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--text-color);
    text-align: center;
    transition: all .2s;
    background-color: transparent;
    margin: 15px;
}

button:hover,
input:hover[type='submit'] {
    color: var(--background-color);
    background-color: var(--text-color);
}

button:active,
input:active[type='submit'] {
    position: relative;
    top: 1px;
}

/* Sections */
section#workout,
section#about,
section#view-previous {
    display: none;
}

/* ABOUT EXERCISES section */
section#about img {
    width: 100%;
}

/* Overview subsection */
section#overview-section {
    margin: 0 auto;
    display: inline-block;
    max-width: 70vw;
}

section#overview-section ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline-start: 0;
    row-gap: 2em;
}

section#overview-section ul li {
    list-style-type: none;
    padding: 10px 10px 30px 10px;
    border-bottom: 1px solid var(--extra-color);
}

#overview-section ul li:nth-child(3n+1):nth-last-child(-n+3),
#overview-section ul li:nth-child(3n+1):nth-last-child(-n+3)~li {
    border-bottom: none;
}

section#overview-section ul li a {
    text-decoration: none;
    color: var(--text-color);
}

/* Informations subsection */
section#info-section h4 {
    font-size: 1.2em;
    margin: 1.5em 0 0 0;
}

section#info-section p {
    margin-bottom: 3vh;
    max-width: 80vw;
    white-space: pre-line;
    text-align: left;
}

section#info-section img {
    max-width: 50vw;
}

/* WORKOUT section */
#workout img {
    max-width: 100%;
}

/* Media queries */
@media screen and (max-width: 1300px) {
    #overview-section {
        max-width: 80vw;
    }
}

@media screen and (max-width: 500px) {

    #choose-exclusions,
    #choose-exercise {
        grid-template-columns: repeat(2, .6fr 1fr);
    }

    section#overview-section ul {
        grid-template-columns: repeat(2, 1fr);
    }

    #overview-section ul li:nth-child(3n+1):nth-last-child(-n+3),
    #overview-section ul li:nth-child(3n+1):nth-last-child(-n+3)~li {
        border-bottom: 1px solid var(--extra-color);
    }

    section#overview-section ul li:nth-child(2n+1):nth-last-child(-n+2),
    section#overview-section ul li:nth-child(2n+1):nth-last-child(-n+2)~li {
        border-bottom: none;
    }
}

@media screen and (max-width: 300px) {

    #choose-exclusions,
    #choose-exercise {
        grid-template-columns: repeat(1, .6fr 1fr);
    }

    section#overview-section ul {
        grid-template-columns: repeat(1, 1fr);
    }

    section#overview-section ul li:nth-last-of-type(2) {
        border-bottom: 1px solid var(--extra-color) !important;
    }

    section#overview-section ul li:last-child {
        border-bottom: none !important;
    }
}