/* STYLE VARIABLES */
:root {
	--background-color: rgb(5, 5, 5);
	--text-color: rgb(250, 250, 250);
}

/* GENERAL */
body {
	background-color: var(--background-color);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

/* HEADER */
/* Navigation */
nav ul {
	display: flex;
	width: 30vw;
	justify-content: space-evenly;
	list-style-type: none;
	/* Fix issues with centering the nav */
	padding-inline-start: 0;
}

nav ul li a {
	text-decoration: none;
	color: var(--text-color);
}

/* MAIN */
/* Forms */
/* form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

input[type="number"],
select {
    width: 20vw;
    margin-bottom: 20px;
}

#exercise-choices {
    display: flex;
    justify-content: center;
} */

#choose-exercise {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

input[type='checkbox'] {
	margin: 5px;
}

fieldset {
	margin-bottom: 15px;
}

/* Exercise section */
#pause-button,
#play-button {
	display: none;
}
